@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "poppins";
  min-height: 100vh;
  display: flex;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 15px;

  nav {
    display: flex;
    flex-direction: column;
    a {
      padding: 20px 10px;
      display: flex;
      gap: 5px;
      border-radius: 10px;
      //whitesp. der ki bu yazıların tamamı tek satırda olcak, ekrana sığmadığında dahi alt satıra geçemez
      white-space: nowrap;
      transition: all 0.3s;

      @media (max-width: 870px) {
        span {
          display: none;
        }
        i {
          font-size: 20px;
        }
      }
      &:hover {
        background-color: rgb(32, 32, 32);
      }
    }
  }

  #logo {
    display: none;
    width: 40px;
  }

  @media (max-width: 870px) {
    #logo-text {
      display: none;
    }
    #logo {
      display: block;
    }
  }

  img {
    max-width: 130px;
    object-fit: contain;
  }
}

main {
  width: 100%;
}

//ana içerik > üst kısım
main header {
  display: flex;
  justify-content: space-between;
  padding: 24px 10px;

  @media (max-width: 870px) {
    justify-content: center;
  }

  form {
    display: flex;
    input {
      padding: 6px 12px;
      border: none;
      border-radius: 5px 0 0 5px;
      outline: none;
    }
    button {
      background: #1db954;
      height: 100%;
      padding: 0 25px;
      border: none;
      cursor: pointer;
      border-radius: 0 5px 5px 0;
      &:hover {
        background: #0ff15e;
      }
    }
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;

    @media (max-width: 870px) {
      display: none;
    }

    li {
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
      transition: background 300ms;
      &:hover {
        background: rgb(60, 60, 60);
      }
    }
  }
}

//ana içerik > alt kısım
main .songs {
  background-color: rgb(42, 42, 42);
  height: 100%;

  #title {
    padding: 20px;
  }
}

main #list {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  //overflowun çalışması için height'de verilmeli
  height: 80vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    background: black;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #0e9c3f;
  }

  @media (max-width: 768px) {
    justify-content: center;
    gap: 50px;
  }

  .card {
    width: 200px;
    padding: 15px;
    background: #181818;
    border-radius: 6px;
    cursor: pointer;

    &:hover .play {
      opacity: 1;
      bottom: 20px;
    }

    figure {
      position: relative;
      img {
        width: 100%;
        border-radius: 6px;
        margin-bottom: 10px;
      }

      .play {
        position: absolute;
        background: #1db954;
        right: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 23px;
        display: grid;
        place-items: center;
        //üstüne gelinene kadar görünmez olacak
        opacity: 0;
        bottom: -20px;
        transition: all 0.3s;

        &:hover {
          background: #0e9c3f;
          scale: 0.9;
        }
      }
    }

    h4 {
      margin-bottom: 6px;
    }
  }
}

.playing {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  align-items: center;
  gap: 50px;
  padding: 10px 40px;
  width: 100%;
  background-image: linear-gradient(90deg, #0f4766 0%, #20a66a 100%);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.612);
  z-index: 100;

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 10px;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  audio {
    width: 300px;
  }
}

.animate {
  animation: turn 4s linear infinite;
}

// Keyframes animasyonun hangi değerden hangi değere gideceğini söyleyen bir kısımdır
@keyframes turn {
  // Animasyon başladığında sahip olunacak değer
  from {
    transform: rotate(0);
  }
  // Animasyon bitişinde sahip olunacak değer
  to {
    transform: rotate(360deg);
  }
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.55);
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;
}

.loader::before {
  content: "";
  position: absolute;
  inset: 20px;
  background: transparent;
  border: 1px dashed#444;
  border-radius: 50%;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
    inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dashed#444;
  box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
    inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  background: transparent;
  transform-origin: top left;
  animation: radar81 2s linear infinite;
  border-top: 1px dashed #fff;
}

.loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: seagreen;
  transform-origin: top left;
  transform: rotate(-55deg);
  filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
